@model IEnumerable<BDApplication.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Peaples</h2>

<hr />

<div class="row">
    <div class="card-columns">
        @foreach (var item in Model)
        {
        <div class="card md-4">
            <h3 class="card-header">@item.UserName</h3>

            <a id="upload_widget_opener"><img id="image" style=" width: 100%; display: block;" src="@item.UserPhotoPath" alt="Card image"></a>
            @*<a href="#" id="upload_widget_opener" class="btn btn-default">Upload multiple images</a>*@
            <div class="card-footer text-muted">
                Online
            </div>
        </div>
        }
    </div>
</div>
